<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div> -->
    <ul class="footer">
      <li><a href="mailto:morganloehr@gmail.com"><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://twitter.com/generallymade"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://medium.com/@morocklo"><i class="fa fa-medium"></i></a></li>
    </ul>

  </div>

</footer>
