/**
 * Font
 */
h3 {
    font-size: 20px;
}

body {
    font-family: 'Old Standard TT', serif;
    letter-spacing: .25px;
    color: #2E4145;
 }

a {
    // color: #9C9C9A;
    // color:#81BE9A;
    // color:#f78638;
    // color: #27BBA2;
    // #DE1554 pink
    // color: #AE1746;
    color: #e44f7d;
}

a:hover {
    color: #2E4145;

}

a:visited {
   color: #e44f7d;;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    margin-bottom: 15px;
}

li a {
    font-size: 16px;
}

/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 0;

}

.site-nav {

}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0 40px;
    margin-top: 60px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


// MRL STYLES



body:before, body:after {
    content: "";
    position: fixed;
    background: #E2E1E6;
    left: 0;
    right: 0;
    height: 10px;
    z-index: 999;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid #E2E1E6;
    border-right: 10px solid #E2E1E6;  
    z-index: 999;
    background: #F8F8F8;
}


.site-header {
    padding-top: 50px;
    margin-bottom: 80px;
}


.container-main {
    max-width: 850px;
}



.site-nav a {
    font-size: 16px;
    color: #2E4145;

    &:hover {
        color: #e44f7d;;
    }
}

nav ul {
    margin: 0
}

nav ul li:first-child { float: left; }

nav ul li { 
  list-style:none;
  float: right; 
}

.links {
    line-height: 68px;
}

a.twitter {
    padding-left:15px;
}

a.twitter:before {
    content:"";
    border:1px solid #333;
    height:10px;
    margin-right: 15px;
}

.feature-content {
    padding-bottom: 60px;
    background-color: #f8f8f8;
}

.gray-bg {
    background-color: #F8F8F8;
}
// footer

ul.footer {
    text-align: center;

    li {
        display: inline;
    }

    a {
        padding: 0 15px;
        color: #2E4145;

        &:hover {
           color: #e44f7d;;
        }
    }

    i {
        font-size: 26px;
    }
}
.bg-white {
    background: white;
}

.article-section {
    padding-top: 80px;
}


// mobile

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .profile {
        margin-bottom: 40px;
    }

    .publication {
        margin-bottom: 40px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .site-nav ul .links{
        display: none;
    }

    .site-header {
        margin-bottom: 40px;
    }

    .feature-content {
        padding-bottom: 40px;
    }
}


@media only screen and (min-width : 992px) {
    .feature-content h2 {
        margin-left: 20px;
    }

    .article-container {
        margin-bottom: 60px;
    }
}

 /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    .site-title {
        font-size: 26px;
    }
 }





