<!DOCTYPE html>
<html>

  {% include head.html %}

<body>
  <div class="container container-main">

    {% include header.html %}

    <div class="page-content">
      <!-- TOP CONTENT -->
      <div class="row feature-content">
        <div class="col-md-5">
          <img src="/assets/me-sorta.jpg" alt="Morgan Loehr" class="profile">
        </div>
        <div class="col-md-7">
          <h2>Howdy Muchachos! I'm a humor writer living in California. I edit and contribute to <a href="https://medium.com/slackjaw">Slackjaw</a> on Medium. My words also appear in <a href="http://www.huffingtonpost.com/morgan-rock-loehr/">The Huffington Post</a> and <a href="http://thehiggsweldon.com/author/morgan-rock-loehr/">The Higgs Weldon</a>. </h2>
          <h2>One day, if all my dreams come true, I'll have a story in The National Enquirer. Not by me, but about me.</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row bg-white">
      <div class="container container-main article-section">
        <div class="row article-container">
          
          <div class="col-md-4 publication">
            <h3>Slackjaw</h3>
            <ul>
              <li><a href="https://medium.com/slackjaw/your-favorite-random-twitter-followers-ae6cd0a3389a#.h2c02cyn3">Your Favorite Random Twitter Followers</a></li>
              <li><a href="https://medium.com/slackjaw/how-to-break-down-a-chicken-b8b37256c4ab#.rz7nbmwdd">How To Break Down A Chicken</a></li>
              <li><a href="https://medium.com/vantage/a-day-in-the-life-of-a-stock-photo-model-47cb22f2dce8#.l5ehrxmyl">A Day In The Life Of A Stock Photo Model</a></li>
              <li><a href="https://medium.com/slackjaw/a-break-up-letter-from-the-internet-to-you-fb4c48f7054f#.yst9qn73k">A Breakup Letter From The Internet To You</a></li>
              <li><a href="https://medium.com/slackjaw/when-i-die-dfaee86b3af#.6t85fwega">When I Die...</a></li>
              <li><a href="https://medium.com/@morocklo/etiquette-and-wisdom-for-the-modern-gourmet-404ce89bb20#.nryoodx7k">Etiquette And Wisdom For The Modern Gourmet</a></li>
              <li><a href="https://medium.com/slackjaw/honest-hashtags-ee35996d922d#.thefc9qjc">Honest Hashtags</a></li>
              <li><a href="https://medium.com/@morocklo/7-thru-hikes-for-the-lazy-2915021c6b8f#.to2klci48">7 Thru-Hikes For Lazy People</a></li>
              <li><a href=""></a></li>
            </ul>
          </div>
        
          <div class="col-md-4 publication">
            <h3>Huffington Post</h3>
            <ul>
              <li><a href="http://www.huffingtonpost.com/morgan-rock-loehr/why-i-broke-up-with-taylor-swift_b_9266366.html">Why I Brokeup With Taylor Swift</a></li>
              <li><a href="http://www.huffingtonpost.com/morgan-rock-loehr/your-dream-home-awaits-you_b_9299148.html">Your Dream Home Awaits You</a></li>
            </ul>
          </div>

          <div class="col-md-4 publication">
            <h3>The Higgs Weldon</h3>
            <ul>
              <li><a href="http://thehiggsweldon.com/thinking-inside-the-bubble/">Thinking Inside The Bubble</a></li>
              <li><a href=""></a></li>
            </ul>
          </div>
        </div>
         {% include footer.html %}
      </div>
    </div>
  </div>

</body>

</html>
